# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#忽略git管理文件
!*.opt
!*.pjt
!*.pjtx
!*.pjw
*.ASM
!startup1_l.asm
*.LST
*.OBJ
!*.MTP
*.bin
*.CV
*.DBG
*.list
*.MAP
!*.MEM
*.TSK
.output
#忽略VSCode文件夹
.vscode
.git
.svn